<nav aria-label="Global" class="hidden md:block">
    <ul class="flex items-center gap-6 text-sm">
        {% for item in items %}
            {{ atom('nav-item', item) }}
        {% endfor %}
    </ul>
</nav>